@import "breakpoint";

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

@media only screen and (min-width: $breakpoints-sm) {
    .sm-w100 {
        width: 100%;
    }

    .sm-h100 {
        height: 100%;
    }
}

@media only screen and (min-width: $breakpoints-md) {
    .md-w100 {
        width: 100%;
    }

    .md-h100 {
        height: 100%;
    }
}

@media only screen and (min-width: $breakpoints-lg) {
    .lg-w100 {
        width: 100%;
    }

    .lg-h100 {
        height: 100%;
    }
}

@media only screen and (min-width: $breakpoints-xl) {
    .xl-w100 {
        width: 100%;
    }

    .xl-h100 {
        height: 100%;
    }
}
